@media screen and (max-width: 1680px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1360px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 1175px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 840px) {
  html {
    font-size: 35%;
  }
  .select-menu select {
    font-size: 1.3rem;
    width: 12rem;
  }
  .fa-volume-mute,
  .fa-volume-up {
    font-size: 1.7rem;
  }
  .pad-part-1,
  .pad-part-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 35%;
  }
  .select-menu select {
    font-size: 1.3rem;
    width: 12rem;
  }
  .pad-part-1,
  .pad-part-2 {
    display: none;
  }
  .activee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .part-1-toggle,
  .part-2-toggle {
    margin: 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
  }
  .active {
    background-color: white;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-repeating-radial-gradient(top left, #5f5f5f, #333335 1px, #2e2d2d 1px, black 100%);
  background-image: repeating-radial-gradient(to bottom right, #666666, #333335 1px, #2e2d2d 1px, black 100%);
  background-size: 3px 3px;
}

header {
  width: 350px;
  height: 40px;
  margin: 6rem 0 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .logo {
  width: 350px;
  height: 40px;
  color: #fff4eb;
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 500;
  letter-spacing: 1.5rem;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .logo:hover {
  background: rgba(20, 20, 20, 0.8);
  border-radius: 10px;
  letter-spacing: 0.2rem;
  cursor: crosshair;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .sequencer {
  margin: 2rem;
  width: 85%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .kick-track,
section .hihat-track,
section .hihat-open-track,
section .snare-track,
section .clap-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

section .kick-pad:hover,
section .kick-icon:hover,
section .kick-pad.active {
  background: #9023f5;
}

section .hihat-pad:hover,
section .hihat-icon:hover,
section .hihat-pad.active {
  background: #6360ff;
}

section .hihat-open-pad:hover,
section .hihat-open-icon:hover,
section .hihat-open-pad.active {
  background: #5fc779;
}

section .snare-pad:hover,
section .snare-icon:hover,
section .snare-pad.active {
  background: #40e2ff;
}

section .clap-pad:hover,
section .clap-icon:hover,
section .clap-pad.active {
  background: #fc7e2b;
}

section .icons,
section .icons,
section .icons,
section .icons,
section .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  width: 5rem;
  margin: 0 0.6rem;
  border-radius: 0.6rem;
  cursor: pointer;
  background: #1b1b1b;
}

section .icon {
  width: 2.5rem;
  height: 2.5rem;
}

section .select-menu {
  position: relative;
}

section .select-menu select {
  width: 15rem;
  height: 4rem;
  border: none;
  border-radius: 0.6rem;
  color: white;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background: #1b1b1b;
  color: white;
}

section .select-menu .fa-chevron-down {
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-95%);
          transform: translateY(-95%);
  pointer-events: none;
  font-size: 1.2rem;
  color: #a8a8a8;
}

section .pad-part-1,
section .pad-part-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .pad-part-1 .pad,
section .pad-part-2 .pad {
  width: 4rem;
  height: 4rem;
  background: #1b1b1b;
  color: white;
  border: none;
  margin: 0 0.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section .mute {
  width: 4rem;
  height: 4rem;
  background: #1b1b1b;
  color: white;
  border: none;
  border-radius: 0.6rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

section .mute .fa-volume-up,
section .mute .fa-volume-mute {
  pointer-events: none;
}

section .mute .fa-volume-up {
  color: #428eff;
}

section .mute .fa-volume-mute {
  display: none;
  color: #ff5151;
}

section .mute .fa-volume-mute.active {
  display: block;
}

section .mute .fa-volume-up.active {
  display: none;
}

.btnContainer {
  height: 4rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.btnContainer .play-btn,
.btnContainer .clear {
  height: 4rem;
  width: 8rem;
  background: #1b1b1b;
  color: white;
  border: none;
  border-radius: 0.6rem;
  margin: 0 1rem;
}

.btnContainer .clear {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.btnContainer .clear:hover {
  background: #ff5151;
}

.btnContainer .play-btn .fa-play {
  font-size: 1.5rem;
}

.btnContainer .play-btn .fa-stop {
  display: none;
  font-size: 1.5rem;
}

.btnContainer .play-btn:hover {
  background: #27cf43;
}

.beatPerMin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
  width: 30rem;
  margin-top: 2rem;
}

.beatPerMin P {
  height: 2.5rem;
  width: 10rem;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
  background: #1b1b1b;
  color: #ff660e;
  border-radius: 0.6rem 0 0 0.6rem;
}

.beatPerMin input {
  width: 20rem;
  cursor: move;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #131313;
  accent-color: #ff660e;
  border-radius: 0 0.6rem 0.6rem 0;
}

.beatPerMin input[type='range']::-moz-range-thumb {
  height: 2rem;
  width: 0.3rem;
}

.beatPerMin input[type='range']::-webkit-slider-thumb {
  height: 2rem;
  width: 0.3rem;
}

svg {
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */